/*
SD 卡：http://i.imgur.com/c2Z5au0.png
電池：http://i.imgur.com/NFwOBqW.png
耳機：http://i.imgur.com/stm47RT.png
醜醜手機殼：http://i.imgur.com/aKkhCy6.png

大字：40px
大字框：70x185
*/
.bottom{
	width: 1000px;
}
h3{
	float: left;
	font-size: 40px;
	padding: 10px;
	/*border-style: double;*/
	margin-left: 20px;
	width: 1em; /*讓寬度變一個字的大小*/
	border: double;
	border-color: #D3D3D3;
	/*border-style: double;*/


	}
.figure{
	text-align: center;/*讓字至中*/
}
li{
	text-align: center;
	list-style-type: none;
	padding: 1em;
	border: solid;
	border-color: #D3D3D3;
	border-top: none;
}
#item01{
	border-top: solid;
	border-color: #D3D3D3;
}
#phoneback{
	float: left;
	display: inline-block;
	left: 1000px;
	padding: 30px;
	border: #D3D3D3 solid;
	margin: 20px;
}
#fourcolor{
	border: none;
	display: block;
	margin: 0 auto;
}

#gadget{
	float: left;
	width: 250px;
	display: inline-block;
}

#free{
	display: block;

}
#down{
	text-align: center;


}

.clearfix{
	clear: both;
}
