
/*
手機圖 http://i.imgur.com/DH1JUY1.png
下陰影 http://i.imgur.com/qHFBqbU.png

標題 40px
內文 20px
價錢 24px

按鈕 128x33, #fe8511 -> #dc5608
*/
section{
	position: relative;
	width: 950;
	height: 600;
	margin:0 auto;
	background: url(http://i.imgur.com/qHFBqbU.png) center bottom;
	background-repeat: no-repeat;
	font-size: 20px;
	/*position: relative;*/
}
.phone{
	float: left;
	margin-left: 150px;
}
ul{
	list-style-type: none;
	padding: 1em;
}
div{
	float: left;
	margin-left: 250px;
	margin-top: 100px;

}
button{
	padding: 10px 40px;
	border: 0;
	color: #fff;
  border-radius: 90px;
  background: -webkit-linear-gradient(top, #fe8511 0%,#dc5608 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #fe8511 0%,#dc5608 100%); /* W3C */
}